.right {

    height: 100vh;
    background-color: #ffffff;
    width: 94%;
    margin: auto;
}

.right_box {
    margin: auto;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    /* border: 1px solid red; */
    padding: 20px;
}

.right_box .upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background-color: #f5f5f5; */
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    width: 100%;
}

.right_box .lower {
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: 1px solid rgb(174, 174, 174);
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    align-items: center;

}

.upper-box {
    display: flex;
    justify-content: space-between;
    /* background-color: #f5f5f5; */
    width: 40%;
}

.header {
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header h1 {
    /* margin: auto; */
}

.header h1:nth-child(2) {
    border-bottom: 2px solid #282828;
    padding: 0 5rem 1rem 1rem;
}

.primary-feed {
    width: 30%;
}

.primary-feed button {
    background-color: #d7ecfb;
    color: white;
    border: 1px solid blue;
    border-radius: 100px;
    cursor: pointer;
    margin: auto;
    color: blue;
    padding: 0.1rem 0.5rem;

}

.publish-feed {
    /* margin: auto ; */
    /* margin-left: 5%; */
    width: 8%;
    align-items: center;
    text-align: center;
    border: 1px solid green;
    background-color: #28a745;
    padding: 0.4rem;
    border-radius: 8px;
}

.publish-feed-box {
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.publis-feed-box {
    border: 1px solid red;
}

.add-variant-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}

.add-row-btn-container {
    /* display: flex; */
    margin: auto;
    width: 100%;
}

.add-row-btn {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}

.add-row-btn {
    margin: auto;

}

.add-row-btn:hover {
    /* background-color: #218838; */
}

.table {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    margin: auto;
    width: 100%;
}

.table-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* background-color: white; */
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    align-items: center;
    max-width: 100vw;
    /* overflow-x: scroll; */
}

.table-row div {
    /* display: flex; */
}

.filter {
    flex: 1;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

.filter p {
    display: flex;
    font-size: 30px;
    align-items: center;
}


.filter-name-box p {
    font-size: 14px;
}

.variants {
    display: flex;
    flex: 2;
    /* flex-direction: column; */
    gap: 10px;
    overflow-x: scroll;
}

.variant {
    /* background-color: #007bff; */
    color: rgb(0, 0, 0);
    padding: 10px;
    /* display: flex; */
    display: block;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-width: 300px;
    height: 15rem;
    border-right: 2px solid #ddd;
    position: relative;
    /* margin: auto; */
}

.variant-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px dashed #c6c6c6;
    border-radius: 8px;
    height: 13rem;
    width: 13rem;
    background-color: white;
    /* gap: 10px; */
    margin: auto;
    position: relative;
}

.variant span {
    font-size: 14px;
}

.variant input {
    border: none;
    padding: 5px;
    width: 100%;

}

.add-variant-btn {
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-variant-btn:hover {
    /* background-color: #168a16; */
}

.delete-row-btn,
.delete-variant-btn {
    /* background-color: red; */
    color: rgb(248, 0, 0);
    border: none;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.delete-row-btn:hover,
.delete-variant-btn:hover {
    background-color: rgb(252, 193, 193);
}

/* Add this to your existing CSS */
.variant-image {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    /* margin-left: 10px; */
    margin: auto;
}

/*  */
.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.variant-box:hover .hide {
    visibility: visible;
    opacity: 1;
}

/*  */
.variant-action-delete {
    position: absolute;
    display: none;
    top: 10px;
    right: 10px;
    background-color: rgb(255, 255, 255);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.variant:hover .variant-action-delete {
    display: block;
}



::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* row */
.row-number {
    border-right: 2px solid #ddd;
    text-align: center;
    font-weight: bold;
    /* height: 15rem; */
    width: 5rem;

}

.row-number div {
    display: flex;
    /* border: 1px solid red; */
    font-size: 28px;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 15rem;
}

.filter-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 20px; */
    width: 30rem;

    height: 15rem;
    border-right: 2px solid #ddd;
}

.filter-name-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 2px dashed #ddd;
    background-color: white;
    border-radius: 8px;
    height: 13rem;
    width: 80%;
    margin: auto;
    text-align: center;
    justify-items: center;
    padding: 0.4rem;

}

.filter-name-box p {
    border: 1px solid #ddd;
    margin: auto;
    padding: 0.2rem;
    border-radius: 8px;
}

.filter-name-box p:nth-child(2) {
    border: 1px solid rgba(0, 94, 0, 0.2);
    color: rgb(2, 83, 2);
    background: rgb(230, 255, 230);

}

.filter-action {
    position: absolute;
    top: 2rem;
    left: 1rem;
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

.row-number-box {
    cursor: pointer;
}

.row-number-box:hover .filter-action {
    /* display: block; */
    visibility: visible;
    opacity: 1;
}


@media (max-width: 768px) {
    .upper {}

    .filter,
    .variants {}
}

.filter-name-head {
    height: 2rem;
    width: 30rem;
    text-align: center;
    justify-content: center;
}

.variant_head {
    display: flex;
    height: 2rem;
    justify-content: center;
}

.table-row-head div {
    display: flex;
    /* justify-content: center; */
}